node_modules
package.json
package-lock.json
.env.example
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
hardhat.config.ts
scripts/
starknet-artifacts/
tsconfig.json
cache/
build/
.venv/
tests/fake_tests.cairo
